# ${XDG_CONFIG_HOME}/zsh/.aliases

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"
alias cdc='cd ${XDG_CONFIG_HOME}'
alias cdr='cd ${REPOSITORIES}'
alias lsa='ls -la'
alias week='date +%V'

# Ansible
alias eans='nvim ${XDG_CONFIG_HOME}/ansible/ansible.cfg'
alias cans='nvim ${XDG_CONFIG_HOME}/ansible/hosts'
alias pans='ansible-playbook -K ${REPOSITORIES}/config/ansible/playbook-collection.yml'

# Docker
alias dcp='sudo docker compose -f ${XDG_CONFIG_HOME}/docker/docker-compose.yml'
alias dcb='sudo docker compose -f ${XDG_CONFIG_HOME}/docker/backup-compose.yml'

# Editor
alias n='nvim'
alias sn='sudo nvim'
alias nf='find ~/.config ${REPOSITORIES} | fzf | xargs -o nvim'

# Jekyll
alias jup='bundle exec jekyll serve --detach --drafts'
alias jdown='pkill -f jekyll'

# Shell
alias azsh='nvim ${XDG_CONFIG_HOME}/zsh/.aliases'
alias ezsh='nvim ${XDG_CONFIG_HOME}/zsh/.zshrc'
alias szsh='source ${XDG_CONFIG_HOME}/zsh/.zshrc'

# SSH
alias esshd='nvim /etc/ssh/sshd_config'
alias essh='nvim /etc/ssh/ssh_config'
alias cssh='nvim ${HOME}/.ssh/config'

# Networking
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# MacOS
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"